rules [
h1 = r"(#{1}\s)(.*)"
h2 = r"(#{2}\s)(.*)"

bnI = r"(\*|\_)+(\S+)(\*|\_)+"
italic = r"(?<!\*)\*(?![*\s])(?:[^*]*[^*\s])?\*" 
bold = r"(?<!\*)\*\*(?![*\s])(?:[^*]*[^*\s])?\*\*"

link = r"(\[.*\])(\((http)(?:s)?(\:\/\/).*\))"
ol = r"(^(\d+\.)(\s)(.*)(?:$)?)+"

]